 body
{
    background-image: url("https://mhkend01.github.io/Css_Project/matrix.gif");
  margin: 0;
}
/*
h1
{}
*/
div
{border: 1px solid red;}
div.person_image
{
   height: 200px;
  width: 50%;
}
/*
a
{}
table
{}
tbody
{}
th
{}
tr
{}
td
{}
audio
{}
img
{}
ul
{}
 */
